In [132]:
import os
import pandas as pd

# Chemin du dossier contenant les fichiers de données
dossier_datasets = "datasets"

# Liste des fichiers dans le dossier
fichiers = os.listdir(dossier_datasets)

# Filtrer les fichiers CSV
fichiers_csv = [fichier for fichier in fichiers if fichier.endswith(".csv")]

# Parcourir chaque fichier CSV et afficher les informations
for fichier in fichiers_csv:
    chemin_fichier = os.path.join(dossier_datasets, fichier)
    print(f"Informations pour le fichier : {fichier}")
    # Charger le fichier CSV dans un DataFrame
    df = pd.read_csv(chemin_fichier)
    
      # Afficher les premières lignes du DataFrame
    print("Premières lignes :")
    print(df.head())
    print()

    print("Informations sur le DataFrame :")
    print(df.info())
    print()

Informations pour le fichier : olist_customers_dataset.csv
Premières lignes :
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

Informations pour le fichier : olist_geolocation_dataset.csv
Premières lignes :
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None

Informations pour le fichier : olist_orders_dataset.csv
Premières lignes :
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

Informations pour le fichier : olist_order_items_dataset.csv
Premières lignes :
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None

Informations pour le fichier : olist_order_payments_dataset.csv
Premières lignes :
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None

Informations pour le fichier : olist_order_reviews_dataset.csv
Premières lignes :
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN  2018-01-18 00:00:00
1                                                NaN  2018-03-10 00:00:00
2                                                NaN  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  Parabéns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None

Informations pour le fichier : olist_products_dataset.csv
Premières lignes :
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

Informations pour le fichier : olist_sellers_dataset.csv
Premières lignes :
                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
None

Informations pour le fichier : product_category_name_translation.csv
Premières lignes :
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
None

Question 1 : Méthodes supervisées pour la segmentation marketing

Il existe plusieurs méthodes des algorithmes non supervisés: <br>
-Méthode de K-moyennes  <br>
-Clustering hiérarchique  <br>
-Analyse en composantes principales (ACP)  <br>
-Classification K-Means  <br>
-Classification des documents   <br>

Question 4 : Quels clients payent le plus de frais de livraison ?

In [133]:
dossier = "datasets"

### Exploration de données

In [134]:
df_items = pd.read_csv(f"{dossier}/olist_order_items_dataset.csv")
df_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [135]:
df_orders = pd.read_csv(f"{dossier}/olist_orders_dataset.csv")
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [136]:
df_orders["order_status"].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

### Nettoyage de données

##### Renommer les colonnes

In [137]:
df_items = df_items.rename(columns={
    'order_id': 'id_commande',
    'order_item_id': 'id_article_commande',
    'product_id': 'id_produit',
    'seller_id': 'id_vendeur',
    'shipping_limit_date': 'date_limite_expedition',
    'price': 'prix',
    'freight_value': 'frais_livraison'
})

# Renommer les colonnes
df_orders = df_orders.rename(columns={
    'order_id': 'id_commande',
    'customer_id': 'identifiant_client',
    'order_status': 'statut_commande',
    'order_purchase_timestamp': 'timestamp_achat',
    'order_approved_at': 'timestamp_validation',
    'order_delivered_carrier_date': 'date_livraison_transporteur',
    'order_delivered_customer_date': 'date_livraison_client',
    'order_estimated_delivery_date': 'date_livraison_estimee'
})

Nous allons d'abord enlever les doublons

In [138]:
# Suppression des doublons dans order_items
df_items = df_items.drop_duplicates()

# Suppression des doublons dans orders
df_orders = df_orders.drop_duplicates()

### Filtrage des données

Nous allons supprimer tout les frais livraison qui coute 0 euros et nous devons appliquer des clients qui ont été bien livrés leur produit

In [139]:
df_items = df_items.loc[df_items["frais_livraison"] > 100] 
df_delivered_orders = df_orders.loc[df_orders["statut_commande"] == "delivered"]

### Taille des données

In [140]:
print(df_items.shape)
print(df_orders.shape)
print(df_delivered_orders.shape)

(671, 7)
(99441, 8)
(96478, 8)

### Jointure des données à partir de la table order_id

Nous allons faire une jointure des données sur l'order id pour déterminer quels clients payent les frais de livraison pour chaque produit

In [141]:
# Jointure INNER JOIN à partir de la table order_id
merged_data = pd.merge(df_items, df_delivered_orders, on='id_commande')

merged_data.head()

,id_commande,id_article_commande,id_produit,id_vendeur,date_limite_expedition,prix,frais_livraison,identifiant_client,statut_commande,timestamp_achat,timestamp_validation,date_livraison_transporteur,date_livraison_client,date_livraison_estimee
0,02014f2495eef0e869616829d481d743,1,43cc8e4d981bc04b9d78b12e8a908d41,6061155addc1e54b4cfb51c1c2a32ad8,2018-08-24 11:05:25,1240.00,102.63,f0d62fcceaafaea74a143d7fce54f1f4,delivered,2018-08-22 10:53:16,2018-08-22 11:05:25,2018-08-22 14:44:00,2018-08-27 18:02:08,2018-09-04 00:00:00
1,028558cddca332b40b4ac4cb77407edf,1,a233df9a388d27dbdfd31731d4236db0,784ba75dd9d20200c4caed3d7a77141a,2017-07-04 10:35:09,2649.99,134.17,8401401a8752eb431189e021b8009e37,delivered,2017-06-26 10:26:31,2017-06-27 10:35:09,2017-06-30 17:57:30,2017-07-07 19:44:34,2017-07-25 00:00:00
2,029c545413b10a6bd7540401f6eef0a3,1,8d4e92265a16e69a1e1d76e67e46d72f,54219883e72aad869adfb2a54b7bfa0f,2018-07-17 09:30:15,1350.00,294.76,2131f859f33715756b10efb97d873a85,delivered,2018-07-10 17:16:33,2018-07-11 09:30:27,2018-07-17 14:23:00,2018-07-20 16:14:38,2018-07-30 00:00:00
3,02fab07a655ce404330d65b508f32d9e,1,63c4a70e0a12b4bd9475fca9e9937e76,d66c305afaec317ebee552073a674429,2017-05-25 14:55:17,122.99,164.98,10eee4da147ae9bc5f7b21f32c1fb3c0,delivered,2017-05-19 14:41:31,2017-05-19 14:55:17,2017-06-02 16:21:40,2017-06-08 16:55:58,2017-06-14 00:00:00
4,03572de4ee0598b00c48f6de965fcf78,1,e303dfa61ada1f0823b4775f192606b3,058cb5aeb36d7c0fcae20fc85d5e0a59,2018-08-01 14:04:22,148.50,165.32,bcd0281b473e8ed4e0a1e37d73e059f6,delivered,2018-07-26 13:46:21,2018-07-26 14:04:52,2018-07-30 11:14:00,2018-08-04 14:50:40,2018-08-14 00:00:00

Nous allons calculer le montant total des frais de livraison pour chaque client et de déterminer le montant le plus cher des frais de livraison

In [142]:
# Calcul du montant total des frais de transport pour chaque client
total_freight_per_customer = merged_data.groupby('identifiant_client')['frais_livraison'].sum()

# Créer un DataFrame pour les identifiants des clients et les frais de livraison
df_sorted_customers = pd.DataFrame({'identifiant_client': total_freight_per_customer.index,
                                    'frais_livraison': total_freight_per_customer.values})

# Trier les clients par montant total des frais de livraison
df_sorted_customers = df_sorted_customers.sort_values(by='frais_livraison', ascending=False)

# Affichage des premières lignes du nouveau DataFrame
df_sorted_customers.head()

                   identifiant_client  frais_livraison
548  ed583a2a1eaf0dedc33af816153e8b8c          1794.96
215  5e312b0d9bf5c91599eb42120e633b19          1002.29
19   088d20d5878711d537176871a6e850e4           711.33
268  74be082247cd677a147d83ee670e9d53           497.42
156  42c0b09d094220a110c0e0e941f76f06           497.08

### Normalisation des données


On souhaite de normaliser les frais de livraison puisqu'on a besoin de déterminer le cluster des clients en n segments

In [143]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# Normalisation des données
scaler = StandardScaler()
X = scaler.fit_transform(df_sorted_customers[['frais_livraison']])

### Utilisation du clustering K-means

On utilisera l'algorithme de K-means pour déterminer des groupes de clients similaires en fonction du montant total des frais de livraison. Par exemple, il peut identifier un groupe de clients qui paient des frais de livraison élevés, un groupe de clients avec des frais de livraison moyens, et un groupe de clients avec des frais de livraison bas.

In [144]:
# Clustering des clients en 20 segments
kmeans = KMeans(n_clusters=3, random_state=42)
df_sorted_customers['segment'] = kmeans.fit_predict(X)

In [145]:
df_sorted_customers

                   identifiant_client  frais_livraison  segment
548  ed583a2a1eaf0dedc33af816153e8b8c          1794.96        2
215  5e312b0d9bf5c91599eb42120e633b19          1002.29        1
19   088d20d5878711d537176871a6e850e4           711.33        1
268  74be082247cd677a147d83ee670e9d53           497.42        1
156  42c0b09d094220a110c0e0e941f76f06           497.08        1
..                                ...              ...      ...
189  4d2219481428c1004c9275a686169e01           100.85        0
206  56033dc0fa885647a8cc84db067729ea           100.84        0
284  7ca7b6bb5ab0b1ac2529e5c489cf3592           100.68        0
241  6bba511e5eff14df06ee63e3fd5d0ffe           100.68        0
482  d1756a94888f6544a8f726df44233c07           100.14        0

[588 rows x 3 columns]

In [154]:
help(dash.html.Legend)

Help on class Legend in module dash.html.Legend:

class Legend(dash.development.base_component.Component)
 |  Legend(children=None, id=undefined, n_clicks=undefined, n_clicks_timestamp=undefined, disable_n_clicks=undefined, key=undefined, accessKey=undefined, className=undefined, contentEditable=undefined, dir=undefined, draggable=undefined, hidden=undefined, lang=undefined, role=undefined, spellCheck=undefined, style=undefined, tabIndex=undefined, title=undefined, loading_state=undefined, **kwargs)
 |
 |  A Legend component.
 |  Legend is a wrapper for the <legend> HTML5 element.
 |  For detailed attribute info see:
 |  https://developer.mozilla.org/en-US/docs/Web/HTML/Element/legend
 |
 |  Keyword arguments:
 |
 |  - children (a list of or a singular dash component, string or number; optional):
 |      The children of this component.
 |
 |  - id (string; optional):
 |      The ID of this component, used to identify dash components in
 |      callbacks. The ID needs to be unique across all of the components
 |      in an app.
 |
 |  - accessKey (string; optional):
 |      Keyboard shortcut to activate or add focus to the element.
 |
 |  - aria-* (string; optional):
 |      A wildcard aria attribute.
 |
 |  - className (string; optional):
 |      Often used with CSS to style elements with common properties.
 |
 |  - contentEditable (string; optional):
 |      Indicates whether the element's content is editable.
 |
 |  - data-* (string; optional):
 |      A wildcard data attribute.
 |
 |  - dir (string; optional):
 |      Defines the text direction. Allowed values are ltr (Left-To-Right)
 |      or rtl (Right-To-Left).
 |
 |  - disable_n_clicks (boolean; optional):
 |      When True, this will disable the n_clicks prop.  Use this to
 |      remove event listeners that may interfere with screen readers.
 |
 |  - draggable (string; optional):
 |      Defines whether the element can be dragged.
 |
 |  - hidden (a value equal to: 'hidden', 'HIDDEN' | boolean; optional):
 |      Prevents rendering of given element, while keeping child elements,
 |      e.g. script elements, active.
 |
 |  - key (string; optional):
 |      A unique identifier for the component, used to improve performance
 |      by React.js while rendering components See
 |      https://reactjs.org/docs/lists-and-keys.html for more info.
 |
 |  - lang (string; optional):
 |      Defines the language used in the element.
 |
 |  - loading_state (dict; optional):
 |      Object that holds the loading state object coming from
 |      dash-renderer.
 |
 |      `loading_state` is a dict with keys:
 |
 |      - component_name (string; optional):
 |          Holds the name of the component that is loading.
 |
 |      - is_loading (boolean; optional):
 |          Determines if the component is loading or not.
 |
 |      - prop_name (string; optional):
 |          Holds which property is loading.
 |
 |  - n_clicks (number; default 0):
 |      An integer that represents the number of times that this element
 |      has been clicked on.
 |
 |  - n_clicks_timestamp (number; default -1):
 |      An integer that represents the time (in ms since 1970) at which
 |      n_clicks changed. This can be used to tell which button was
 |      changed most recently.
 |
 |  - role (string; optional):
 |      Defines an explicit role for an element for use by assistive
 |      technologies.
 |
 |  - spellCheck (string; optional):
 |      Indicates whether spell checking is allowed for the element.
 |
 |  - style (dict; optional):
 |      Defines CSS styles which will override styles previously set.
 |
 |  - tabIndex (string; optional):
 |      Overrides the browser's default tab order and follows the one
 |      specified instead.
 |
 |  - title (string; optional):
 |      Text to be displayed in a tooltip when hovering over the element.
 |
 |  Method resolution order:
 |      Legend
 |      dash.development.base_component.Component
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__ = wrapper(self, children=None, id=undefined, n_clicks=undefined, n_clicks_timestamp=undefined, disable_n_clicks=undefined, key=undefined, accessKey=undefined, className=undefined, contentEditable=undefined, dir=undefined, draggable=undefined, hidden=undefined, lang=undefined, role=undefined, spellCheck=undefined, style=undefined, tabIndex=undefined, title=undefined, loading_state=undefined, **kwargs)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from dash.development.base_component.Component:
 |
 |  __delitem__(self, id)
 |      Delete items by ID in the tree of children.
 |
 |  __getitem__(self, id)
 |      Recursively find the element with the given ID through the tree of
 |      children.
 |
 |  __iter__(self)
 |      Yield IDs in the tree of children.
 |
 |  __len__(self)
 |      Return the number of items in the tree.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setitem__(self, id, item)
 |      Set an element by its ID.
 |
 |  to_plotly_json(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from dash.development.base_component.Component:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from dash.development.base_component.Component:
 |
 |  REQUIRED = required
 |
 |  UNDEFINED = undefined

### Visualisation des données sur Dash

In [156]:
import dash
from dash import dcc, html
import plotly.express as px

# Initialisation de l'application Dash
app = dash.Dash(__name__)

# Création de la visualisation avec une taille de figure plus grande et en masquant les valeurs d'identifiant client
fig = px.scatter(df_sorted_customers, y='frais_livraison', color='segment',
                 labels={'frais_livraison': 'Montant total des frais de livraison'},
                 title="Visualisation graphique sur le profil des clients")

fig.update_layout(
    xaxis=dict(title=None, visible=False),
    yaxis=dict(title="Montant total des frais de livraison"),
    width=800, height=600,  # Taille de la figure
)

# Mise en forme de l'application Dash
app.layout = html.Div([
    html.H1("Segmentation des clients par frais de livraison"),
    dcc.Graph(id='segmentation-graph', figure=fig)
])

# Exécution de l'application Dash
if __name__ == '__main__':
    app.run_server(debug=True)